.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(48, 48, 48);
}
.title{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(48, 48, 48);
    background-color: rgb(254, 216, 177);
}