.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(48, 48, 48);
}
.h1.title{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(48, 48, 48);
    background-color: rgb(254, 216, 177);
}
#cakeimage{
    height: 300px; 
    width: 400px;
}