 body{
    background-color: rgb(248, 239, 236);
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

li{
    margin-bottom:8px;
}

h1{
    color: #a85332;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(248, 224, 216);
    width: 150px;
    padding: 10px;
}

h2,
h3{
    color: rgb(41, 40, 38);
}

.ingredients,
.description,
.steps{
    padding: 8px 12px;
    margin: 10px 0;
}

.ingredients{
    background-color: rgb(248, 224, 216);

}

.description{
    background-color: rgb(230, 183, 168);
}

.steps{
    background-color: rgb(255, 232, 224);
}